<tr>
  <td>
    <%= link_to notification_link notification do %>
      <div class="pull-left">
        <%= notification_image notification %>&nbsp;&nbsp;
      </div>
      <div>
        <div><%= notification_content notification %></div>
        <small class="text-muted">
          <%= l notification.created_at, format: :datetime %>
        </small>
      </div>
    <% end %>
  </td>
</tr>
