<div class="container-fluid well boxshadow">
  <div class="row user-notification">
    <div class="col-md-12">
      <h3><strong><%= "Notifications" %></strong></h3>
      <table class="table table-hover notification-table">
        <% @user_notifications.each do |user_notification| %>
          <%= render "user_notification", notification: user_notification.notification %>
        <% end %>
      </table>
      <div class="pull-right">
        <%= paginate @user_notifications %>
      </div>
    </div>
  </div>
</div>
