<div class = "reading_books" >
  <div id="list_reading_book">
    <% @reading_books.each do |reading_book| %>
      <li class="list-group-item list-group-item-info">
        <%= link_to image_tag(reading_book.picture, size: Settings.favorites.size,
          class: "book-image"), reading_book %>
        <%= link_to reading_book.title, reading_book %>
        <br/>
      </li>
    <% end %>
  </div>
  <div class="page">
    <%= paginate @reading_books %>
    <%= page_entries_info @reading_books %>
  </div>
</div>
