<div class = "reading_books" >
  <div id="list_reading_book">
    <% @reading_books.each do |reading_book| %>
      <li class="list-group-item list-group-item-info">
        <div class="row">
          <div class="col-md-2">
            <%= link_to image_tag(reading_book.picture, size: Settings.favorites.size,
              class: "book-image"), reading_book %>
          </div>
          <div class="col-md-8">
            <%= link_to reading_book.title, reading_book %>
          </div>
        </div>
        <br/>
      </li>
    <% end %>
  </div>
  <div class="page">
    <%= paginate @reading_books %>
    <%= page_entries_info @reading_books %>
  </div>
</div>
