<div class="btn-mark-book">
  <% load_mark_button_class @book %>

  <div class="reading_form" >
    <%= render "reading" %>
  </div>
  <div class="read_form" >
    <%= render "read" %>
  </div>
</div>
