<div class="col-xs-12 col-sm-12 col-md-12">
  <hr>
  <h2><span><%= t "books.review" %></span></h2>
  <ul class="review-list">
    <% @reviews.each do |review| %>
      <li class="review-list" style="list-style:none; ">
        <section class="paper">
          <div class="row">
            <div class="col-md-2 col-sm-2 text-center">
              <span><%= review.user.name%></span>
            </div>
            <div class="col-md-10 col-sm-10">
              <p><%= review.content %></p>
              <%= t "books.reply" %>
            </div>
          </div>
        </section>
      </li>
    <% end %>
  </ul>
</div>
