body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /*background-image: url(background.jpg);*/
    background-size: cover;
}
/***** Top content *****/
.inner-bg {
    padding: 40px 0 0 0;
}
.form-top {
  padding: 0 25px 0 25px;
  text-align: center;
}
.form-bottom {
  padding: 25px 25px 25px 25px;
  text-align: left;
}
.social-login {
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-login h3 {
  color: #fff;
}
.avatar-size{
  width: 40px;
  height: 23px;
}
/*****footer*****/
.site-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;

}
.body-content{
  margin-bottom: 60px;
}
