<footer class="footer">
  <small>
    <%= t :app_name %>
    <%= t :author_name %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), "#" %></li>
      <li><%= link_to t(:contact), "#" %></li>
    </ul>
  </nav>
</footer>
