<footer class="footer site-footer">
  <div class="row well">
    <div class="col-sm-5 col-sm-offset-2">
      <ul class="list-inline">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "help", static_pages_help_path %></li>
        <li><%= link_to "about", static_pages_about_path %></li>
      </ul>
    </div>
  </div>
</footer>
